.card{
    border-radius: 10px;
    }
    .card-header{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: rgb(47, 194, 113);
    
    }
    .contain{
        border: solid 1px mediumspringgreen;
    }
    .notUser{
        border-radius: 10px;
        background-color: lightgrey;
    }
    .user{
        background-color: rgb(88, 236, 162)
    }
    .card-body{
        /* border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px; */
        border-radius: 10px;
      
    }
    .spacer{
        flex: 1 1 auto;
    }
    @media screen and (max-width:500px){
        .contain{
            border:none;
        }
    }
    /* .chat {
        margin: 0;
        padding: 0 0 0 0;
        position: absolute;
        height:100vh; 
        width: 100%;
        overflow-y: hidden; 
    } */