     <nav class="col-12  bg-success" style="height:50px">
        <p class="text-center text-light">Sign in</p>
        </nav>
        <div class="row justify-content-center" >
            <span class=" fa fa-spin" *ngIf="submitted" style="margin-left:10px;font-size:20px;"><i class="fa fa-spinner"></i></span>
        </div>
        <div class=" container row mt-5 justify-content-center" style="width: 100%">
            <form  [formGroup]="regform" novalidate (ngSubmit)="submite()"   class="  col-12 ml-3  col-lg-4 col-md-8 shadow" >
             <div class="alert alert-danger text-center justify-content-center" style="width:80%" [hidden]="show" >
                    <span> {{response}}</span>
                  </div>
              <div class="container">
             <h4> Email:<br><input type="email" [(ngModel)]="emai"  [class.incorrect]="email.touched && email.invalid" formControlName="email">
                <small *ngIf="email.touched && email.invalid" class="text-danger container row mt-2">Email is required</small>
            </h4>
             <h4>Password:<br><input type="password" [(ngModel)]="passwor"  [class.incorrect]="password.touched && password.invalid" formControlName="password">
                <small *ngIf="password.touched && password.invalid" class="text-danger container row mt-2">Password is required</small>
            </h4><br>
              <button class="btn btn-success float-right mb-4" [disabled]="regform.invalid ||submitted">
                    Submit
                </button>
            </div>
        </form>
        <div class="container row cont justify-content-center">
            <button routerLink="/main" class="btn btn-success mb-3 mt-5 col-lg-2 shadow col-6">Forgot password</button>
            <button routerLink="/register" class="btn btn-success mb-3 mt-5 col-5 col-lg-2  shadow">Create Account</button>
        </div>
    </div>
                

      